@{
    ViewBag.Title = "Chat FSL - SignalR";
}

<div class="jumbotron">
    <h1>Chat FSL - SignalR</h1>
    <p class="lead">SignalR usando MVC</p>
</div>
    
<div id="chat">
    <div class="row">
        <div class="col-md-4">
            <h2>Dados Básicos</h2>
            <b>Usuário: </b> <input type="text" id="user" /><br />
            <b>Mensagem: </b> <input type="text" id="message" /><br />
            <b>Usuários Conectados:</b> <span id="users">0</span><br />
            <b>Última Atualização:</b> <span id="date">N/A</span>
        </div>
        <div class="col-md-8">
            <h2>Mensagens</h2>
            <div id="messages" style="vertical-align:top;"></div><br />
        </div>
    </div>
</div>